.App {
  text-align: center;
  width: 800px;
  height: 600px;
}

.App-header {
  background-color: #7C15FF;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.tabs {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  margin-top: 10px;
}

.tabs div {
  width: 30%;
  color: #747474;
  margin-bottom: 20px;
}

.tab {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
  color: black;
}

.active {
  border-bottom-color: #7C15FF;
  color: black !important;
}


.tab-slider {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #7C15FF;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  left: 0;
  width: 0;
}